.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.responsive-logo {
    height: auto;
    width: 100px;
}

.inputs_organiser {
    display: flex;
}